extends layout

block content
    h2 #{title}
    h3 We have #{designers.length} #{title} available!
    div(class="designer-list") 
      each designer in designers 
        span #{designer.id}) 
        span #{designer.name} 
        span #{designer.email} 
